{% extends param('ccdn_forum_karma.review.review_all.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{- asset('bundles/ccdncomponentbbcode/css/bbcode.css') -}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{{- truncDot('title.karma' | trans({}, 'CCDNForumKarmaBundle'), param('ccdn_forum_karma.seo.title_length')) -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}

{% endblock %}

{% block body %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	<h2>{{- 'title.karma' | trans({}, 'CCDNForumKarmaBundle' ) -}}</h2>
	
	<table class="table table-striped table-bordered">
		<tr class="row_odd">
			<td class="center" style="width: 50%;"><span class="table_header" style="color: #4fd111 !important;">+{{- registries[user.getId()].getCachedKarmaPositiveCount -}}</span></td>
			<td class="center" style="width: 50%;"><span class="table_header" style="color: #FF0000 !important;">-{{- registries[user.getId()].getCachedKarmaNegativeCount -}}</span></td>
		</tr>
	</table>

	{%- if pager.haveToPaginate -%}
	    {{- pagerfanta(pager, 'twitter_bootstrap', {'routeName':'cc_forum_karma_show_all_paginated', 'routeParams':{}} ) -}}
	{%- endif -%}

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th class="center" style="width:18px;"></th>
				<th class="center" style="width:60px;"></th>
				<th class="center" style="width:50px;">#</th>
				<th class="left">{{- 'board.table.head.topic_title' |trans({}, 'CCDNForumForumBundle') -}}</th>
				<th class="center" style="width: 200px;">{{- 'actioned.at' |trans({}, 'CCDNForumForumBundle') -}}</th>
			</tr>
		</thead>
		<tbody>
		{% for row, review in pager.getCurrentPageResults %}
			<tr class="{{- cycle(['row_odd', 'row_even'], row) -}}">
				<td class="center">
					<i class="icon-comment"></i>
				</td>
				<td class="center">
					<img class="icon16" width="16" height="16" src="{{- asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_karma.png') -}}" alt="icon">&nbsp;
					{%- if review.isPositive -%}
						<span class="badge badge-success">+1</span>
					{%- else -%}
						<span class="badge badge-important">-1</span>
					{%- endif -%}
				</td>
				<td class="center">
					{%- if review.getPost() -%}
						{{- review.getPost().getId() -}}
					{%- endif -%}
				</td>
				<td class="left">
					{%- if review.getPost() -%}
						{%- if review.getPost().getTopic() -%}
							{{- truncDot(review.getPost().getTopic().getTitle(), param('ccdn_forum_karma.review.review_all.topic_title_truncate')) -}}
						{%- endif -%}
					{%- endif -%}
				</td>
				<td class="center">
					<abbr class="timestamper" title="{{- review.getPostedDate |date('Y-m-d H:i:s T Z', 'Europe/London') -}}">{{- review.getPostedDate |date(param('ccdn_forum_karma.review.review_all.rating_datetime_format')) -}}</abbr>
				</td>
			</tr>
			<tr class="{{- cycle(['row_odd', 'row_even'], row) -}}">
				<td class="left" colspan="5">
					<span class="common_body">
					{%- if param('ccdn_forum_karma.review.review_all.enable_bb_parser') -%}
						{{- BBCode(review.comment | raw) | raw -}}
					{%- else -%}
						{{- review.comment -}}
					{%- endif -%}
					</span>
				</td>
			</tr>
		{%- else -%}
			<tr>
				<td class="center" colspan="5">
					{{- 'karma.table.empty' | trans({}, 'CCDNForumKarmaBundle') -}}
				</td>
			</tr>
		{%- endfor -%}
		</tbody>
	</table>
	
	{%- if pager.haveToPaginate -%}
	    {{- pagerfanta(pager, 'twitter_bootstrap', {'routeName':'cc_forum_karma_show_all_paginated', 'routeParams':{}} ) -}}
	{%- endif -%}
	
	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	{%- endspaceless -%}

{% endblock %}